tqdm

torch
torchaudio
torchdata

waveaugment
torchaudio-augmentations

einops
asteroid

pytorch_wavelets@git+https://github.com/fbcotter/pytorch_wavelets.git
PyWavelets
ptwt@git+https://github.com/naba89/PyTorch-Wavelet-Toolbox.git

demucs
pydub

tensorboard